.ant-btn:disabled,
.ant-btn[disabled],
.ant-btn.disabled {
    cursor: not-allowed !important;
    opacity: 0.6 !important;
    pointer-events: none !important;
    /* background-color: inherit !important; */
}

.ant-btn{
  border-color: none !important;
  border : none !important;
}
/* Hover state for disabled buttons */
.ant-btn:disabled:hover,
.ant-btn[disabled]:hover,
.ant-btn.disabled:hover {
    opacity: 0.6 !important;
}

/* Active state for disabled buttons */
.ant-btn:disabled:active,
.ant-btn[disabled]:active,
.ant-btn.disabled:active {
    pointer-events: none !important;
    background-color: inherit !important;
}

:where(.css-1u1move).ant-btn-default ,
.ant-btn-default {
    background-color: transparent !important;
    border: 1px solid var(--border-secondary) !important;
    color: var(--text-white) !important;
    font-weight: bold !important;
}
 