:where(.css-dev-only-do-not-override-1u1move).ant-table-wrapper .ant-table-thead >tr>td,
table , 
th,
td
{
    background-color:  transparent !important;
}

.ant-pagination .ant-pagination-item-active{
    border : none !important;
}

/* //all the text in the table :default color white */
.ant-table-wrapper .ant-table-tbody > tr > td {
    color: white !important;
}

/* for header text color white with bold */
.ant-table-wrapper .ant-table-thead > tr > th {
    color: white !important;
    font-weight: bold !important;
}

:where(.css-dev-only-do-not-override-1u1move).ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder,
:where(.css-dev-only-do-not-override-1u1move).ant-table-wrapper .ant-table-cell-fix-right,
:where(.css-dev-only-do-not-override-1u1move).ant-table-wrapper .ant-table-cell-fix-left
{
    background-color: transparent !important;
}
.ant-btn {
    line-height: 0% !important;
}
.ant-table-cell-fix-right, .ant-table-cell-fix-left {
   background-color: transparent !important;
   backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}



